#myList div{
  display:none;
}
#loadMore {
  color:green;
  cursor:pointer;
}
#loadMore:hover {
  color:black;
}
#showLess {
  color:red;
  cursor:pointer;
  display:none;
}
#showLess:hover {
  color:black;
}
